@keyframes move-fromleft {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes move-fromright {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0);
  }
}
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: libre baskerville;
  color: #24473f;
  line-height: 40px;
  padding: 0;
  margin: 0;
}

.content {
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-size: 60px;
  font-family: kaushan script;
  color: #8AC926;
  line-height: 80px;
}

h2 {
  font-family: kaushan script;
  color: #60AB9A;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
}

.background {
  background-image: url("/images/pozadi/shea.png");
  background-attachment: fixed;
}

.button {
  display: inline-block;
  text-align: center;
  margin: 20px;
}
.button__link {
  color: #24473f;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(253, 236, 139);
  border: white 5px double;
  padding: 10px;
}
.button__link:active, .button__link:hover {
  background-color: #8AC926;
  padding: 10px;
  transform: scale(1.2);
}

.item {
  background-color: white;
  box-shadow: 2px 2px 5px rgb(212, 212, 212);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  .item:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1200px) {
  .item {
    box-shadow: 2px 2px 5px rgb(212, 212, 212);
    border-radius: 10px;
  }
}
.item__img img {
  max-height: 200px;
  max-width: 200px;
  margin-top: 20px;
}

/*--------------------------------------------------------*/
/*hero section*/
.hero {
  background-image: url("/images/hero.png");
  background-size: cover;
  text-align: center;
  margin: 0;
}
.hero__title img {
  width: 250px;
  height: 250px;
}

/*--------------------------------------------------*/
/*about*/
.about {
  margin: 20px;
  text-align: center;
}
.about__text {
  grid-row: 1/2;
  animation: move-fromright 3s;
}
.about__img {
  grid-row: 2/-1;
  align-self: center;
  animation: move-fromleft 3s;
}
.about__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------------------------------------------*/
/*article*/
.article-about {
  background-image: url(/images/fancy/onas.png);
  background-size: cover;
  border: white 10px double;
  text-align: center;
  position: relative;
  color: white;
}
@media (min-width: 1200px) {
  .article-about {
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: auto auto;
  }
}
.article-about__title {
  padding: 40px;
  justify-self: end;
}
@media (min-width: 1200px) {
  .article-about__title::after {
    content: " ";
    display: block;
    width: 400px;
    height: 5px;
    background-image: linear-gradient(to right, #60AB9A, #8AC926);
    position: absolute;
    right: 50px;
    top: 180px;
  }
}
@media (min-width: 1200px) {
  .article-about__title {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}
.article-about__text {
  padding: 20px;
  text-align: justify;
  background-color: rgba(44, 65, 44, 0.5);
}
@media (min-width: 700px) {
  .article-about__text {
    margin: 20px;
  }
}

/*--------------------------------------------------*/
/*grid-logo*/
.grid-logos {
  text-align: center;
  margin: 20px;
}
@media (min-width: 1200px) {
  .grid-logos__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 20px;
  }
}
.grid-logos__img img {
  max-width: 100px;
  max-height: 100px;
}
@media (min-width: 1200px) {
  .grid-logos__img img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .grid-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 150px));
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
}

.links__title {
  margin: 20px;
}

.product-box {
  position: relative;
  text-align: center;
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(1fr, 400px);
  grid-template-rows: repeat(8, auto);
  justify-content: center;
  gap: 40px;
}
@media (min-width: 1200px) {
  .product-box {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .product-box__headtitle::after {
    content: " ";
    display: block;
    width: 700px;
    height: 5px;
    background-image: linear-gradient(to left, #60AB9A, #8AC926);
    position: absolute;
    left: 10px;
    top: 140px;
  }
}
@media (min-width: 1200px) {
  .product-box__headtitle {
    grid-row: 1;
    grid-column: 1/-1;
    justify-self: start;
  }
}
.product-box__link {
  text-decoration: none;
  color: #24473f;
}
.product-box .button {
  margin: 20px;
}
@media (min-width: 1200px) {
  .product-box .button {
    grid-row: 3;
    grid-column: 4/-1;
  }
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, auto);
  gap: 20px;
  align-items: end;
  justify-items: center;
  justify-content: center;
}
@media (min-width: 700px) {
  .grid-products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}
@media (min-width: 1200px) {
  .grid-products {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
.grid-products__item {
  position: relative;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 5px rgb(212, 212, 212);
  height: 500px;
  width: 350px;
}
.grid-products__item img {
  width: auto;
  height: 200px;
}
.grid-products__item .button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.grid-products__title {
  justify-self: start;
}

.grid-contact {
  text-align: center;
}
@media (min-width: 700px) {
  .grid-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.grid-contact__form {
  margin: 20px;
}
.grid-contact__item {
  padding: 20px;
}

.footer {
  background-color: rgb(83, 83, 83);
  color: white;
}
.footer__grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (min-width: 1200px) {
  .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 20px;
    align-items: center;
  }
}
.footer__icon img {
  width: 25px;
  height: 25px;
}
.footer__item {
  display: flex;
  gap: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (min-width: 1200px) {
  .footer__item {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  .footer__list {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.footer__list a {
  text-decoration: none;
  color: white;
}

.information {
  border: #8AC926 10px double;
}

.article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  .article {
    grid-template-columns: 1fr 600px;
    grid-template-rows: auto auto;
  }
}
.article__origin, .article__certificates {
  background-color: rgba(44, 65, 44, 0.8);
}
.article__types {
  background-image: url("/images/fancy/jake.png");
  background-size: cover;
}
.article__text {
  color: white;
  background-color: rgba(44, 65, 44, 0.8);
  padding: 20px;
}
@media (min-width: 1200px) {
  .article__text--left {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}
@media (min-width: 1200px) {
  .article__text--right {
    grid-column: 2/-1;
  }
}
.article__title {
  padding: 20px;
}
.article__title--right {
  background-color: rgba(44, 65, 44, 0.8);
}
.article__title--right h1 {
  animation: move-fromright 3s;
}
@media (min-width: 1200px) {
  .article__title--right {
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
  .article__title--right::after {
    content: " ";
    display: block;
    width: 5px;
    height: 100px;
    background-image: linear-gradient(to right, #60AB9A, #8AC926);
    position: absolute;
    right: 600px;
    top: 80px;
  }
}
.article__title--left h1 {
  animation: move-fromleft 3s;
}
@media (min-width: 1200px) {
  .article__title--left::after {
    content: " ";
    display: block;
    width: 5px;
    height: 100px;
    background-image: linear-gradient(to right, #60AB9A, #8AC926);
    position: absolute;
    left: 510px;
    top: 60px;
  }
}

label {
  display: block;
  font-family: kaushan script;
  font-size: 30px;
  color: #60AB9A;
  margin-top: 20px;
}

.form-field input, .form-field textarea {
  font-size: 20px;
  font-family: libre baskerville;
  padding: 20px;
}
.form-field__button {
  background-color: #60AB9A;
  color: white;
  border: white 5px double;
  padding: 10px;
}
.form-field__button:active, .form-field__button:hover {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo img {
  width: 50px;
  height: 50px;
}

@media (max-width: 700px) {
  .menu {
    position: absolute;
    right: 10%;
    top: -20px;
    z-index: 9999;
  }
}
.menu__list {
  list-style: none;
}
@media (max-width: 700px) {
  .menu__list {
    display: none;
    background-color: #42776b;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 700px) {
  .menu__list {
    display: flex;
    border-bottom: #8AC926 3px solid;
  }
}
@media (max-width: 700px) {
  .menu__item {
    border-bottom: 2px solid white;
  }
}
.menu__link {
  text-decoration: none;
}
@media (max-width: 700px) {
  .menu__link {
    display: block;
    padding: 20px;
    color: white;
  }
  .menu__link:active {
    background-color: #24413a;
  }
}
@media (min-width: 700px) {
  .menu__link {
    margin: 20px;
    color: #24473f;
    font-family: libre baskerville;
    text-decoration: none;
  }
  .menu__link:hover, .menu__link:active {
    background-color: #8AC926;
    border-radius: 50px;
    padding: 10px;
  }
}
.menu__checkbox {
  display: none;
}
@media (max-width: 700px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
.menu__toggler {
  font-family: libre baskerville;
  color: #42776b;
  padding: 20px;
}
@media (min-width: 700px) {
  .menu__toggler {
    position: absolute;
    right: -9999px;
  }
}

.detail-item {
  align-items: center;
}
.detail-item__description {
  margin: 20px;
}
@media (min-width: 700px) {
  .detail-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.glide img {
  width: 400px;
}/*# sourceMappingURL=style.css.map */