html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: libre baskerville;
  color: #24473f;
}

.content {
  max-width: 1400px;
  margin: auto;
}

.button {
  display: inline-block;
  text-align: center;
}
.button__link {
  color: #24473f;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(253, 236, 139);
  border-radius: 50px;
  padding: 10px;
}
.button__link:active, .button__link:hover {
  background-color: #8AC926;
  border-radius: 50px;
  padding: 10px;
}
.button:active, .button:hover {
  transform: scale(1.2);
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*header*/
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo img {
  width: 50px;
  height: 50px;
}
.header__menu {
  display: flex;
  list-style: none;
  border-bottom: #8AC926 3px solid;
}
.header__link {
  margin: 20px;
  text-decoration: none;
  color: #24473f;
  font-family: libre baskerville;
  text-decoration: none;
}
.header__link:hover {
  background-color: #8AC926;
  border-radius: 50px;
  padding: 10px;
}

/*--------------------------------------------------------*/
/*hero section*/
.hero {
  background-image: url("/images/hero.png");
  background-size: cover;
  text-align: center;
  margin: 20px;
}
.hero__title img {
  width: 250px;
  height: 250px;
}

/*--------------------------------------------------*/
/*about*/
.about {
  margin: 20px;
  text-align: center;
}
.about__text {
  font-family: kaushan script;
  color: #60AB9A;
  font-size: 30px;
  grid-row: 1/2;
}
.about__img {
  grid-row: 2/-1;
  align-self: center;
}
.about__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------------------------------------------*/
/*main section*/
.main {
  margin: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    justify-items: center;
  }
}
.main__headtitle {
  font-size: 60px;
  font-family: kaushan script;
  color: #8AC926;
  border-bottom: #8AC926 3px solid;
}
@media (min-width: 1200px) {
  .main__headtitle {
    grid-row: 1;
    grid-column: 1/-1;
  }
}
.main__img img {
  max-height: 200px;
  max-width: 200px;
  margin: 40px;
}
.main__img img:active, .main__img img:hover {
  transform: scale(1.2);
}
@media (min-width: 1200px) {
  .main__img img {
    max-height: 400px;
    max-width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.main__title {
  font-size: 20px;
}

@media (min-width: 1200px) {
  .img-first {
    grid-row: 2;
    grid-column: 1/2;
  }
}

@media (min-width: 1200px) {
  .img-second {
    grid-row: 2;
    grid-column: 2/3;
  }
}

@media (min-width: 1200px) {
  .img-third {
    grid-row: 2;
    grid-column: 3/4;
  }
}

@media (min-width: 1200px) {
  .title-first {
    grid-row: 3;
    grid-column: 1/2;
  }
}

@media (min-width: 1200px) {
  .title-second {
    grid-row: 3;
    grid-column: 2/3;
  }
}

@media (min-width: 1200px) {
  .title-third {
    grid-row: 3;
    grid-column: 3/4;
  }
}

@media (min-width: 1200px) {
  .button {
    grid-row: 4;
    grid-column: 3/4;
  }
}

/*------------------------------------------------*/
/*grid*/
@media (min-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.container {
  border: #8AC926 3px dotted;
  padding: 20px;
  margin: 20px;
}
.container__icon {
  padding: 20px;
}
.container__icon img {
  width: 50px;
  height: 50px;
}
.container__box {
  display: flex;
  align-items: center;
}
@media (min-width: 640px) {
  .container {
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }
}

.inner {
  text-align: center;
  margin: 20px;
}
.inner__title {
  font-family: kaushan script;
  color: #60AB9A;
  font-size: 30px;
}
.inner__img img {
  max-width: 100px;
  max-height: 100px;
}
@media (min-width: 640px) {
  .inner {
    grid-column: 1;
  }
}

/*---------------------------------------------------*/
/*banner*/
/*---------------------------------------------------*/
/*footer*/
.footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #60AB9A;
  padding: 20px;
}
.footer__icon img {
  width: 25px;
  height: 25px;
}/*# sourceMappingURL=style.css.map */