@use 'colors';
@use 'fonts';
@use 'size';

//-----------------------------------------------------------
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: fonts.$normal-font;
    color: colors.$normal-text-color;
    line-height: fonts.$line-height-normal-text;
}
.content {
    max-width: 1400px;
    margin: auto;
}