@use 'colors';
@use 'fonts';
@use 'size';

//-----------------------------------
.button {
    display: inline-block;
    text-align: center;
    margin: size.$spacer;
    &__link {
        color: colors.$normal-text-color;
        font-size: fonts.$button-font-size;
        font-weight: bold;
        text-decoration: none;
        background-color: colors.$button-color;
        border-radius: 50px;
        padding: size.$spacer /2;
    &:active,
    &:hover {
        background-color: colors.$special-color;
        border-radius: 50px;
        padding: size.$spacer / 2;
        }
        }
    &:active,
    &:hover {
        transform: scale(1.2);
    }
    }