<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="/images/loga/farm.inc logo.png" alt="">
        </div>
    
            <ul class="header__menu">
                <li><a class="header__link" href="page1">ÚVOD</a></li>
                <li><a class="header__link" href="page2">NABÍDKA</a></li>
                <li><a class="header__link" href="page3">INFORMACE</a></li>
                <li><a class="header__link" href="page4">KONTAKT</a></li>
                <li><a class="header__link" href="page5">nazev</a></li>
                <li><a class="header__link" href="page6">nazev</a></li>
            
            </ul>
    </header>
    {{ content | safe }}
    <footer class="footer">
        <div class="footer__icon">
           <a href="https://www.facebook.com/zdravizafriky/?locale=cs_CZ"><img src="/images/ikony/Fb.png" alt=""></a> 
        </div>
        <div class="footer__icon">
          <a href="https://www.instagram.com/zdravi_z_afriky/?hl=cs"> <img src="/images/ikony/Ig.png" alt=""></a> 
        </div>
        <div class="footer__icon">
          <a href="https://cz.linkedin.com/in/ane%C5%BEka-%C5%A1edov%C3%A1-290a071a0?original_referer=https%3A%2F%2Fwww.google.com%2F"><img src="/images/ikony/linkedin.png" alt=""></a>  
        </div>
        <div class="copyright">
        ©Farminc
        </div>
       </footer>
    </body>
    </html>