<footer class="footer">
    <div class="footer__grid">
           <ul class="footer__list">
            <h3>Podporujeme</h3>
            <li><a href="#">Netestujeme na zvířatech</a></li>
            <li><a href="#">Podporujeme farmáře</a></li>
            <li><a href="#">Pomáháme</a></li>
            <li><a href="#">100% přírodní složení</a></li>
            <li><a href="#">Podporujeme ženy</a></li>
           </ul>     
           <ul class="footer__list">
            <h3>Informace</h3>
            <li><a href="#">Doprava a platba</a></li>
            <li><a href="#">Obchodní podmínky</a></li>
            <li><a href="#">Ochrana osobních údajů</a></li>
           </ul>     
        
        <div class="footer__item">
          <h3>Sledujte nás</h3>
            <div class="footer__icon">
               <a href="https://www.facebook.com/zdravizafriky/?locale=cs_CZ"><img src="/images/ikony/Fb.png" alt=""></a> 
            </div>
            <div class="footer__icon">
              <a href="https://www.instagram.com/zdravi_z_afriky/?hl=cs"> <img src="/images/ikony/Ig.png" alt=""></a> 
            </div>
            <div class="footer__icon">
              <a href="https://cz.linkedin.com/in/ane%C5%BEka-%C5%A1edov%C3%A1-290a071a0?original_referer=https%3A%2F%2Fwww.google.com%2F"><img src="/images/ikony/linkedin.png" alt=""></a>  
            </div>
        </div>
        <div class="copyright">
          ©Farminc 2023
          </div>
        </div>
   </footer>