<section class="hero">
       
    <div class="about">
        <div class="about__text">
            <h2>Jsme malá rodinná společnost, která českým výrobcům dodává kvalitní přírodní suroviny.</h2> 
        </div>

</section>