<ul class="header__menu">
    <li><a class="header__link" href="/">ÚVOD</a></li>
    <li><a class="header__link" href="/nabidka/">NABÍDKA</a></li>
    <li><a class="header__link" href="/informace/">INFORMACE</a></li>
    <li><a class="header__link" href="/kontakt/">KONTAKT</a></li>
</ul>