@use '../base/colors';
@use '../base/fonts';
@use '../base/size';


//-----------------------------------
.button {
    display: inline-block;
    text-align: center;
    margin: size.$spacer;
    &__link {
        color: colors.$secondary-color;
        font-size: fonts.$button-font-size;
        font-weight: bold;
        text-decoration: none;
        background-color: colors.$button-color;
        border: white 5px double;
        padding: size.$spacer /2;
    &:active,
    &:hover {
        background-color: colors.$active-color;
        padding: size.$spacer / 2;
        transform: scale(1.2);
        }
        }
    }