@use '../base/colors';
@use '../base/size';
@use '../base/border';


.item {
    background-color: colors.$secondary-color;
   // border: border.$border-text;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgb(212, 212, 212);
    border-radius: 10px;
   
    &:hover {
        transform: scale(1.2);
    }
    @media (min-width:1200px) {
        box-shadow: 2px 2px 5px rgb(212, 212, 212);
        border-radius: 10px;
    }
    &__img {
        & img {
            max-height: size.$imgproduct-size;
            max-width: size.$imgproduct-size;
            margin-top: size.$spacer;
        }
         }
}