@use 'colors';
@use 'fonts';
@use 'size';

//-----------------------------------------------------------
@keyframes move-fromleft {
    from {transform:translate(-100%,0)}
    to {transform:translate(0,0)}
}
@keyframes move-fromright {
    from {transform: translate(100%,0);}
    to {transform: translate(0.0);}
}

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: fonts.$normal-font;
    color: colors.$normal-text-color;
    line-height: fonts.$line-height-normal-text;
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1400px;
    margin: auto;
}

h1 {
    font-size: fonts.$font-size-h1;
    font-family: fonts.$special-font;
    color: colors.$special-color;
    line-height: fonts.$line-height-h1;
}

h2 {
    font-family: fonts.$special-font;
    color: colors.$primary-color;
    font-size: fonts.$font-size-h2;
    line-height: font.$line-height-normal-text;
}

h3 {
    font-size: fonts.$font-size-special;
}