$primary-color: #60AB9A;
$special-color: #8AC926;
$normal-text-color: #24473f;
$button-color: rgb(253, 236, 139);
$secondary-color:white;
$background-color-text: rgb(44, 65, 44, 0.5);
$background-article-info: rgb(44, 65, 44, 0.8);
$footer-color: rgb(83, 83, 83);