$normal-font: libre baskerville;
$button-font-size: 18px;
$special-font: kaushan script;
$font-size-special: 20px;
$font-size-h1: 60px;
$font-size-h2: 30px;
$line-height-normal-text: 30px;
$line-height-h1: 80px;