@use '../base/colors';
@use '../base/size';
@use '../base/border';
@use '../base/base';


.article {
    display: grid;
    &__text {
        padding: size.$spacer;
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,auto);
        &__text {
                grid-column: 2/-1;
        }
    }
}
 
    