@use '../base/colors';
@use '../base/size';
@use '../base/border';
@use '../base/base';

.article {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width:1200px) {
            grid-template-columns: 1fr 600px;
            grid-template-rows: repeat(2, auto);
        }

    &__types{
        background-image: url('/images/fancy/jake.png');
        background-size: cover;
    }
    &__text{
        color: colors.$normal-text-color;
        padding: size.$spacer;
        margin: size.$spacer;
    &--left{
        @media (min-width:1200px) {
         grid-column: 1/-1;
    }}
    &--right{
        background-color: colors.$background-article-info;
        color: colors.$secondary-color;
        @media (min-width:1200px) {
        grid-column: 2/-1;
    }}}
    &__title{
        padding: size.$spacer;
        &--right{
            & h1{
            animation: move-fromleft 3s;
        }
            @media (min-width:1200px) {
                grid-column: 1/2;
                justify-self: end;
            
          /*  &::after {
                content: " ";
                display: block;
                width: 5px;
                height: 100px;
                background-image:linear-gradient(to right, colors.$primary-color, colors.$special-color);
                position: absolute;
                right: 600px;
                top: 80px;
            }*/
        }}
        &--left{
            & h1 {
                animation: move-fromleft 3s;
            }
            @media (min-width:1200px) {
            &::after {
                content: " ";
                display: block;
                width: 5px;
                height: 100px;
                background-image:linear-gradient(to right, colors.$primary-color, colors.$special-color);
                position: absolute;
                left: 530px;
                top: 75px;
        }
    }
}}}
    