@use '../base/colors';
@use '../base/size';
@use '../base/fonts';

.detail-item {
  align-items: center;
  &__description {
    margin: size.$spacer;
  }
  @media (min-width:700px) {
    display: grid;
    grid-template-columns: 500px 1fr;
  }
} 
.glide {
    & img {
        width: size.$imgproduct-size*2;
    }  
}