@use '../base/colors';
@use '../base/size';

.footer {
    background-color: colors.$footer-color;
    color: colors.$secondary-color;
    &__grid {
        padding: size.$spacer;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    @media (min-width:1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px;
        gap: size.$spacer;
        align-items: center;
    }}
    
    &__icon {
        & img {
        width: size.$icon-size / 2;
        height: size.$icon-size / 2;
    }
    }
    &__item {
        display: flex;
        gap: size.$spacer;
        grid-column: 1/2;
        grid-row: 2/3;
        @media (min-width:1200px) {
        grid-column: 2/3;
        grid-row: 1/2;
    }}
    &__list {
        @media (min-width:1200px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        & a {
            text-decoration: none;
            color: colors.$secondary-color;
        }
    }
}

