@use '../base/size';
@use '../base/colors';
@use '../components/button';
@use '../base/fonts';
@use '../base/border';

label {
    display: block;
    font-family: fonts.$special-font;
    font-size: fonts.$font-size-h2;
    color: colors.$primary-color;
    margin-top: size.$spacer;
}

.form-field {
    & input,
    & textarea {
        font-size: fonts.$font-size-special;
        font-family: fonts.$normal-font;
        padding: size.$spacer;
    }
    &__button {
        background-color: colors.$primary-color;
        color: colors.$secondary-color;
            border: white 5px double;
            padding: size.$spacer /2;
            &:active,
            &:hover {
            transform: scale(1.2);
            }
    }
}



