<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/glide.core.min.css">
<link rel="stylesheet" href="/css/glide.theme.min.css">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="/images/loga/farm.inc logo.png" alt="">
        </div>
    
        {% include 'partials/menu.njk' %}
        
    </header>
    <div class="content">
    {{ content | safe }}
  </div>
  {% include 'partials/footer.njk' %}

  <script src="/glide.min.js"></script>

  <script>
    new Glide('.glide',{
      type: 'carousel',
      autoplay: 4000,
      hoverpause: false
    }).mount()
  </script>
  
    </body>
    </html>